@import '../../../style/_variables';
@import '../../../style/_responsive';
.TemperatureWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-end;
  padding-right: 8px;
  &__temperatureText {
    font-size: $font-size;
    font-weight: $font-weight-bold;
    @include responsive(xs) {
      font-size: $font-size-md;
    }
  }
  &__temperatureIcon {
    max-width: $icon-width-xs;
    max-height: $icon-height-xs;
    @include responsive(xs) {
      max-width: $icon-width;
      max-height: $icon-height;
    }
  }
}
