@import '../../../style/_responsive';
.weatherBar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 320px;
  margin: 1em auto;
  @include responsive(xs) {
    min-height: 200px;
    margin: 0 auto;
  }
  .weatherText {
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    @include responsive(xs) {
      font-size: 2rem;
    }
  }
  .weatherIconWrapper {
    width: 100%;
    max-width: 240px;
    @include responsive(xs) {
      max-width: 160px;
    }
    .weatherIcon {
      width: 100%;
    }
  }
}
