@import '../../../style/_variables';
@import '../../../style/_responsive';
.WeatherBar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  margin: 0;
  padding-bottom: 24px;
  @include responsive(xs) {
    min-height: 320px;
    margin: 0 auto;
    padding-bottom: 0;
  }
  &__WeatherText {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
  }
  &__WeatherIconWrapper {
    width: 100%;
    max-width: 160px;
  }
  &__WeatherIcon {
    width: 100%;
  }
}
