@import '../../style/_colors';
@import '../../style/_variables';
@import '../../style/_responsive';
.Card {
  position: relative;
  height: auto;
  width: 100%;
  background: gray;
  background: linear-gradient(to bottom right, $gradient-start, $gradient-end);
  color: $white;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  min-height: 60px;
  .locationWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 2;
    flex-shrink: 2;
    justify-content: flex-start;
    .locationIcon {
      max-width: $icon-width;
      max-height: $icon-height;
    }
    .locationText {
      font-size: 20px;
    }
  }
  .temperatureWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-end;
    padding-right: 8px;
    .temperatureText {
      font-size: 36px;
    }
    .temperatureIcon {
      max-width: $icon-width;
      max-height: $icon-height;
    }
  }
}

.weatherBar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 320px;
  margin: 1em auto;
  @include responsive(xs) {
    min-height: 200px;
    margin: 0 auto;
  }
  .weatherText {
    font-size: 3.5rem;
    text-transform: uppercase;
    @include responsive(xs) {
      font-size: 2rem;
    }
  }
  .weatherIconWrapper {
    width: 100%;
    max-width: 240px;
    @include responsive(xs) {
      max-width: 160px;
    }
    .weatherIcon {
      width: 100%;
    }
  }
}

.bottomBar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-end;
  min-height: 60px;
  .humidityWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 2;
    flex-shrink: 2;
    justify-content: flex-start;
    padding-left: 8px;
    flex: 1;
    text-align: left;
    font-size: 1.75rem;
    font-weight: 300;
    @include responsive(xs) {
      font-size: 1rem;
      font-weight: 400;
      padding-left: 16px;
    }
    .humidityText {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex-wrap: wrap;
      flex-grow: 1;
      flex-shrink: 1;
      align-items: flex-start;
      &:nth-child(2) {
        font-weight: 700;
        margin-top: 4px;
      }
    }
  }
  .windWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-shrink: 2;
    justify-content: flex-end;
    padding-right: 8px;
    flex: 1;
    text-align: right;
    font-size: 1.75rem;
    font-weight: 300;
    @include responsive(xs) {
      font-size: 1rem;
      font-weight: 400;
      padding-left: 16px;
    }
    .windText {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex-wrap: wrap;
      flex-grow: 1;
      flex-shrink: 1;
      align-items: flex-end;
      &:nth-child(2) {
        font-weight: 700;
        margin-top: 4px;
      }
    }
  }
}

.calendarBar {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 1;
  width: 100%;
  height: 60px;
  padding: 48px 0;
  justify-content: space-between;
  align-items: stretch;
  @include responsive(xs) {
    padding-top: 24px;
  }
  .calendarDay {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba($white, 0.3);
    &.actual {
      background-color: transparent;
    }
    .calendarText {
      visibility: hidden;
      font-size: 0;
      @include responsive(xs) {
        font-size: $font-size;
        visibility: visible;
        width: auto;
      }
      &:first-letter {
        font-size: $font-size;
        visibility: visible;
        font-weight: 700;
        font-size: 1.5rem;
        @include responsive(xs) {
          font-weight: 400;
          font-size: 1rem;
        }
      }
    }
  }
}
