@import '../../style/_colors';
@import '../../style/_variables';
.Card {
  position: relative;
  height: auto;
  width: 100%;
  background: gray;
  background: linear-gradient(to bottom right, $gradient-start, $gradient-end);
  color: $white;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  height: 60px;
  .locationWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 2;
    flex-shrink: 2;
    justify-content: flex-start;
    .locationIcon {
      max-width: $icon-width;
      max-height: $icon-height;
    }
    .locationText {
      font-size: 20px;
    }
  }
  .temperatureWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-end;
    padding-right: 8px;
    .temperatureText {
      font-size: 36px;
    }
    .temperatureIcon {
      max-width: $icon-width;
      max-height: $icon-height;
    }
  }
}

.weatherBar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  .weatherText {
    font-size: 3rem;
    text-transform: uppercase;
  }
  .weatherIconWrapper {
    width: 100%;
    max-width: 160px;
    .weatherIcon {
      width: 100%;
    }
  }
}

.bottomBar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  height: 60px;
  .humidityWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 2;
    flex-shrink: 2;
    justify-content: flex-start;
    padding-left: 16px;
    .humidityText {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex-wrap: wrap;
      flex-grow: 1;
      flex-shrink: 1;
      align-items: flex-start;
      &:nth-child(2) {
        font-weight: 700;
        margin-top: 4px;
      }
    }
  }
  .windWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 2;
    flex-shrink: 2;
    justify-content: flex-end;
    padding-right: 16px;
    .windText {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex-wrap: wrap;
      flex-grow: 1;
      flex-shrink: 1;
      align-items: flex-end;
      &:nth-child(2) {
        font-weight: 700;
        margin-top: 4px;
      }
    }
  }
}

.calendarBar {
  .calendarDay {
    .calendarText {}
  }
}
