$border-radius: 4px;
$icon-width-xs: 36px;
$icon-height-xs:36px;
$icon-width: 48px;
$icon-height:48px;
$font-weight-normal: 400;
$font-weight-thin:300;
$font-weight-bold: 700;
$font-size-xs:16px;
$font-size:20px;
$font-size-sm: 24px;
$font-size-md:36px;
