@import '../style/_colors';
@import '../style/_responsive';
.AppContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  width: auto;
  perspective: 1000px;
  transform-style: preserve-3d;
  @include responsive(xs) {
    padding: 0 16px;
  }
  &__item {
    width: 100%;
    max-width: 480px;
    transition: .4s;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    backface-visibility: hidden;
    &.hover,
    &.flipped,
    &.active {
      transform: rotateY(180deg);
    }
  }
  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: none;
    background-color: rgba($white, 0.5);
    box-shadow: none;
    border: 1px dashed #ccc;
    outline: none;
  }
  &__img {
    width: 100%;
    max-width: 48px;
  }
}
