@import '../../../style/_variables';
@import '../../../style/_responsive';
.LocationWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 2;
  flex-shrink: 2;
  justify-content: flex-start;
  &__LocationIcon {
    max-width: $icon-width-xs;
    max-height: $icon-height-xs;
    @include responsive(xs) {
      max-width: $icon-width;
      max-height: $icon-height;
    }
  }
  &__LocationText {
    font-size: $font-size-xs;
    @include responsive(xs) {
      font-size: $font-size-sm;
    }
  }
}
