@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);.Location__locationWrapper___2KBQE {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .Location__locationWrapper___2KBQE .Location__locationIcon___3gj3E {
    max-width: 48px;
    max-height: 48px; }
  .Location__locationWrapper___2KBQE .Location__locationText___3EfJH {
    font-size: 20px; }
.Temperature__temperatureWrapper___39Sk1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 8px; }
  .Temperature__temperatureWrapper___39Sk1 .Temperature__temperatureText___3nPpS {
    font-size: 36px;
    font-weight: 700; }
  .Temperature__temperatureWrapper___39Sk1 .Temperature__temperatureIcon___2SnMf {
    max-width: 48px;
    max-height: 48px; }
.Weather__weatherBar___3I2oH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 320px;
  margin: 1em auto; }
  @media screen and (min-width: 480px) {
    .Weather__weatherBar___3I2oH {
      min-height: 200px;
      margin: 0 auto; } }
  .Weather__weatherBar___3I2oH .Weather__weatherText___3LIYf {
    font-size: 56px;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center; }
    @media screen and (min-width: 480px) {
      .Weather__weatherBar___3I2oH .Weather__weatherText___3LIYf {
        font-size: 2rem; } }
  .Weather__weatherBar___3I2oH .Weather__weatherIconWrapper___rNko- {
    width: 100%;
    max-width: 240px; }
    @media screen and (min-width: 480px) {
      .Weather__weatherBar___3I2oH .Weather__weatherIconWrapper___rNko- {
        max-width: 160px; } }
    .Weather__weatherBar___3I2oH .Weather__weatherIconWrapper___rNko- .Weather__weatherIcon___3_ir8 {
      width: 100%; }
.Humidity__humidityWrapper___vEpAA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 300; }
  @media screen and (min-width: 480px) {
    .Humidity__humidityWrapper___vEpAA {
      font-size: 1rem;
      font-weight: 400;
      padding-left: 16px; } }
  .Humidity__humidityWrapper___vEpAA .Humidity__humidityText___2SUqa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .Humidity__humidityWrapper___vEpAA .Humidity__humidityText___2SUqa:nth-child(2) {
      font-weight: 700;
      margin-top: 4px; }
.Wind__windWrapper___2PaXh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 300; }
  @media screen and (min-width: 480px) {
    .Wind__windWrapper___2PaXh {
      font-size: 1rem;
      font-weight: 400;
      padding-right: 16px; } }
  .Wind__windWrapper___2PaXh .Wind__windText___2zBp5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .Wind__windWrapper___2PaXh .Wind__windText___2zBp5:nth-child(2) {
      font-weight: 700;
      margin-top: 4px; }
.Calendar__calendarBar___pmNCQ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 60px;
  padding: 48px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  @media screen and (min-width: 480px) {
    .Calendar__calendarBar___pmNCQ {
      padding-top: 24px; } }
  .Calendar__calendarBar___pmNCQ .Calendar__calendarDay___3jJkm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex: 1;
        flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, .3); }
    .Calendar__calendarBar___pmNCQ .Calendar__calendarDay___3jJkm.Calendar__actual___1h6Eh {
      background-color: transparent; }
    .Calendar__calendarBar___pmNCQ .Calendar__calendarDay___3jJkm .Calendar__calendarText___1oDqF {
      visibility: hidden;
      font-size: 0; }
      @media screen and (min-width: 480px) {
        .Calendar__calendarBar___pmNCQ .Calendar__calendarDay___3jJkm .Calendar__calendarText___1oDqF {
          font-size: 16px;
          visibility: visible;
          width: auto; } }
      .Calendar__calendarBar___pmNCQ .Calendar__calendarDay___3jJkm .Calendar__calendarText___1oDqF:first-letter {
        visibility: visible;
        font-weight: 700;
        font-size: 24px;
        font-size: 1.5rem; }
        @media screen and (min-width: 480px) {
          .Calendar__calendarBar___pmNCQ .Calendar__calendarDay___3jJkm .Calendar__calendarText___1oDqF:first-letter {
            font-weight: 400;
            font-size: 1rem; } }
.FrontCard__Card___18gzi {
  position: relative;
  height: auto;
  width: 100%;
  background: gray;
  background: -webkit-gradient(linear, left top, right bottom, from(#2794b4), to(#48c3d9));
  background: linear-gradient(to bottom right, #2794b4, #48c3d9);
  color: #FFF; }

.FrontCard__topBar___1dEO3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px; }

.FrontCard__bottomBar___2rXfr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 60px; }
.App__AppContainer___2BlNz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 0 16px; }
  .App__AppContainer__item___31npR {
    width: 100vw;
    max-width: 480px;
    overflow: hidden;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 8px rgba(15, 15, 15, .16), 0 4px 8px rgba(15, 15, 15, .24);
            box-shadow: 0 4px 8px rgba(15, 15, 15, .16), 0 4px 8px rgba(15, 15, 15, .24); }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fafafa;
  color: #0F0F0F;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(15, 15, 15, .1); }

img {
  max-width: 100%; }
