@import 'style/_reset';
@import 'style/_fonts';
@import 'style/_colors';
@import 'style/_responsive';
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  overflow-x: hidden;
  background-color: $white;
  color: $black;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba($black, 0.1);
}

img {
  max-width: 100%;
}
